body {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    background-color: #344E41;
}

button {
    height: 50px;
    width: 50px;
    color: #344e41;
    background-color: #A3b18a;
    border-radius: 20%;
    border-color: #588157;
}

.column{

    display: flex;
    flex-flow: column wrap;
}

#grid {
    display:flex;
    flex-direction: row;
    padding: 5px;
    max-width: 400px;
    justify-content: center;
}

#display {
    min-height: 100px;
    background-color: #DAD7CD;
    color: #344E41;
    border: 2px , dashed, hsl(131, 22%, 29%);
    border-radius: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insulter{
    max-width: 50%;
    color:#DAD7CD;
}